<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <link rel="stylesheet" href="./static/css/output.css">
        <title>Text Tutor</title>
    </head>
    <body class="bg-gradient-to-b from-pink-200 to-purple-400 min-h-screen flex flex-col justify-between">
    
        <header class="bg-purple-500 text-white text-center py-4">
            <h1>Textbook Name</h1>
        </header>
        <div id="chatbox" class="border mx-auto p-4 max-w-md mb-4 bg-white shadow-md" style="display: none;">
            {% for entry in history %}
            <p class="my-1"><b>You:</b> {{ entry['question'] }}</p>
            <p class="my-1"><b>Bot:</b> {{ entry['answer'] }}</p>
            {% endfor %}
        </div>
        <form action="/chat" method="POST" class="flex items-center justify-center mt-4">
            <input type="text" name="question" required class="bg-gray-200 border rounded w-3/4">
            <button type="submit" class="bg-purple-500 text-white p-2 ml-2 rounded">Ask</button>
        </form>
    </body>
</html>