<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./static/css/output.css">
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Text Tutor</title>
    </head>
    <body class="bg-gradient-to-r from-indigo-400 via-purple-400 to-pink-400 min-h-screen flex flex-col font-lato">
    
        <header class="bg-purple-500 text-white text-center py-4">
            <h1>{{ title }}</h1>
        </header>
        <div class="flex-grow flex flex-col items-center mt-4">
            <div id="chatbox" class="flex-grow border rounded mx-auto p-4 max-w-3xl mb-4 bg-white shadow-md overflow-y-auto" style="display: none; max-height: 80vh;">
                {% for entry in history %}
                <p class="my-1"><b>You:</b> {{ entry['question']|safe }}</p>
                <p class="my-1"><b>Text Tutor:</b> {{ entry['answer']|safe }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="flex items-center justify-center w-full max-w-4xl mx-auto mb-4">
            <form action="/chat" method="POST" class="flex w-full">
                <input type="text" name="question" required class="bg-gray-200 focus:bg-white flex-grow border rounded pl-2" placeholder="Ask a question...">
                <button type="submit" class="bg-purple-500 text-white p-2 ml-2 rounded hover:bg-purple-600 transition duration-100 focus:ring focus:ring-violet-300">Ask</button>
            </form>
        </div>
        <script src="./static/marked.min.js"></script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>